@use "src/constants/colors";
@use "src/constants/fonts";

.container {
    padding-top: 24px;
    width: 100vw;
    height: 100vh;
    background-color: colors.$grey;
    font-size: fonts.$medium;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 450px) {
        padding-top: 0;
    };
}