@import "../../../constants/colors.scss";

.button {
    width: fit-content;
    padding: 12px 16px;
    border-radius: 4px;

    &.primary {
        background-color: $purple;
        color: $white;
    }

    &.secondary {
        background-color: $white;
        color: $purple;
        border: 1.5px solid $purple;
    }
}