.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.checkbox {
    margin-top: 24px;
}

.buttons_group {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
