.container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.delete {
    margin-left: 19px;
    cursor: pointer;
}

.error {
    color: var(--color-error);
}

.error_input {
    margin-top: 5px;
    color: var(--color-error);
}
