:root {
    //Colors
    --color-grey: #f4f4f5;
    --color-white: #ffffff;
    --color-azure: #d5e4f7;
    --color-purple: #5558fa;
    --color-text-black: #333333;
    --color-text-grey: #666666;
    --color-black-48: rgba(0, 0, 0, 0.48);
    --color-black-16: rgba(0, 0, 0, 0.16);
    --color-black-8: rgba(0, 0, 0, 0.08);
    --color-black-4: rgba(0, 0, 0, 0.04);
    --color-step: #a6a6a6;
    --color-error: rgb(235, 52, 52);

    //Font size
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 20px;
    --font-xl: 40pxl;
}
