@use "src/constants/colors";

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.stepItem {
    width: 16px;
    height: 16px;
    background-color: colors.$purple;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disable {
        background-color: colors.$stepColor;
    }

    .icon {
        color: colors.$white;
    }

    .check {
        font-size: 12px;
    }

    .circle {
        font-size: 18px;
    }
}

.horizontalLine {
    flex: 1 1 auto;
    margin: -8px;
    height: 8px;
    background-color: colors.$grey;
    z-index: 1;

    &.active {
        background-color: colors.$purple;
    }
}