.container {
    padding: 62px 110px;
    width: 900px;
    height: 821px;
    background-color: var(--color-white);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @media screen and (max-width: 450px) {
        height: 100%;
        border-radius: 0;
        padding: 30px 50px;
    }

    @media screen and (max-width: 380px) {
        padding: 15px 24px;
    }
    
}

.about {
    height: 500px;

    @media screen and (max-width: 450px) {
        height: 100%;
        border-radius: 0;
        padding: 15px 24px;
    }
}


