@import "../src/constants/colors.scss";

@font-face {
    font-family: "SB Sans Interface";
    src: url(./assets/fonts/SBSansInterface-Regular.woff2) format("woff2");
}

* {
    font-family: "SB Sans Interface", serif;
    color: $text-color;
}

.react-select {
    &__control {
        &--menu-is-open {
            border: 2px solid $purple !important;
        }

        &--is-focused {
            border: 2px solid $purple !important;
            box-shadow: none !important;
        }
    }

    &__indicator-separator {
        width: 0 !important;
    }

    
    &__option {

        &--is-selected {
            background-color: $purple !important;
        }
    }
}